<link href="signin.css" rel="stylesheet">
<% if @user && @user.errors.any? %>
    <div>
        <strong>There appears to be a problem with your user info</strong>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<div class="container">
    <form class="form-signin" action="/signup" method="post">
        <h2 class="form-signin-heading">Create an account!</h2>
        <label> username:</label>
        <input type="text" id="inputusername" class="form-control" name="username" value="<%= @user && @user.username %>">
        <label> email:</label>
        <input type="text" id="inputemail" class="form-control" name="email" value="<%= @user && @user.email %>">
        <label>password:</label>
        <input type="text" id="inputpassword" class="form-control" name="password" value-"<% @user && @user.password %>">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">sign up!</button>
    </form>
</div>
